# Don’t commit the following directories created by pub.
.buildlog
.pub/
build/
packages

# don't commit dependencies
bower_components
node_modules

# Or the files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock
npm-debug.log
.tmp
dist
.idea/
